header, main {
    padding: 2% 8%;
}

header {
    
}




/**** Buttons ****/
.buttons {
    text-align: center;
    margin-bottom: 5%;
}

.buttons button {
    margin: 0 1%;
}


/**** Comics ****/
.hidden {
    display: none;
}

.comics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comic {
    margin-bottom: 5%;
    flex-basis: auto;
}

