.container {
    padding: 2% 0%;
}

/**** Header *****/
header {
    background-color: #00b5ad;
}

header h1 {
    color: white;
}

header .book {
    color: white;
    margin-left: 1%;
}


/**** Display options ****/
.display-options, #comic-num-form {
    margin-bottom: 3%;
}

.display-options .field {
    width: 40%;
}


/**** Select comic number form ****/
#error-msg {
    color: #9f3a38;
}

#comic-num-form .field {
    width: 40%;
}




/**** Next and previous buttons ****/
.buttons {
    text-align: center;
    margin-bottom: 5%;
}

.buttons #previous, .button #next {
    margin: 0 2%;
}


/**** Comics ****/
.hidden {
    display: none;
}


.comics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comic {
    margin-bottom: 5%;
    flex-basis: auto;
}




